.list-head {
  background-color: white;
  width: 100%;
  margin: 0;
  padding-top: 10px;
}

.list-container {
  box-sizing: content-box;
  border-style: solid;
  width: 90%;
  height: 50px;
  display: center;
}

.list-title {
  width: 20%;
  float: left;
  text-align: center;
}

.list-desc {
  width: 30%;
  float: left;
  text-align: center;
}

.list-cont {
  width: 50%;
  float: right;
  text-align: center;
}


